- @title="#{@volume.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/volumes"} VolumeCollection
      %span.divider="/"
    %li.active
      = @volume.name

- content_for :actions do
  %p
    %a{ :href => "#{@volume.uri}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@volume.uri}?format=json", :class => 'label warning' } JSON

%blockquote
  %p
    This entity represents a volume Instance

- details 'Volume details' do
  - row 'URI', @volume.uri
  - row 'Description', @volume.description
  - row 'Created', @volume.created
  - row 'Bootable?', boolean_span_for(@volume.bootable)
  - row 'Support snapshots?', boolean_span_for(@volume.supports_snapshots)
  - row 'Guest Interface', boolean_span_for(@volume.guest_interface)

- details 'Volume Snapshots' do
  - @volume.snapshots.each_with_index do |s, i|
    - row "##{i}", s.ref

- details 'Volume Meters' do
  - @volume.meters.each_with_index do |m, i|
    - row "##{i}", m.ref

