%h1 Storage Volumes

%table.display
  %thead
    %tr
      %th ID
      %th Created
      %th Realm
      %th Capacity
      %th Status
      %th Actions
  %tbody
    - @storage_volumes.each do |volume|
      %tr
        %td
          = link_to volume.id, storage_volume_url( volume.id )
        %td
          = volume.created
        %td
          = volume.realm_id
        %td
          = "#{volume.capacity} GB"
        %td
          = "#{volume.state}"
        %td
          - if ["AVAILABLE", "IN-USE"].include?(volume.state)
            =link_to_action "Snaphot", api_url_for("storage_snapshots/new?volume_id=#{volume.id}"), :get
            - unless volume.instance_id
              =link_to_action "Delete", destroy_storage_volume_url(volume.id), :delete
              =link_to_action "Attach", api_url_for("storage_volumes/attach?id=#{volume.id}"), :get
            - if volume.instance_id
              =link_to_action "Detach", detach_storage_volume_url(volume.id), :post
  %tfoot
    %tr
      %td{:colspan => 6}
        %a{ :href => api_url_for("storage_volumes/new")} Create volume
