- new_name = @dmtfitem["uri"] + " Collection"
- new_name = new_name.gsub(/[A-Z]/, ' \0')
%h1 #{new_name.capitalize}

%form{ :action => api_url_for("/collection/" + @dmtfitem["uri"]) }
  %input{ :name => :id, :type => :hidden, :value => @dmtfitem["uri"] }/
  %input{ :name => :xmlRootNode, :type => :hidden, :value => @xml_root_node }/
  %p
    %label
      Name:
  %p
    %input{ :name => :name, :size => 50, :value => @dmtfitem["name"], :style => "width:50%;" }
    %input{ :name => :created, :type => :hidden, :size => 50, :value => @dmtfitem["created"] }
  %p
  %br
    %label
      Description:
  %p
    %textarea{ :name => :description, :cols => 50, :rows => 4, :style => "width:50%;" } #{@dmtfitem['description']}
  %p
    - if @dmtfitem["operation"]
      - if @dmtfitem["operation"].kind_of? (Array)
        - property_object = @dmtfitem["operation"]
      - else
        - property_object = [@dmtfitem["operation"]]
      - iter = -1
      - property_object.map do | operation|
        - iter += 1
        %br
        %label
          = operation["rel"].capitalize + ":&nbsp;" + api_url_for(operation["href"])
          %input{ :name => "operation_"+iter.to_s, :oper_type => operation["rel"], :type => :hidden, :value => operation["href"] }
  %br
%p
%br
- new_name = @dmtfitem["uri"]
- new_name = new_name.gsub(/[A-Z]/, ' \0')
- if @dmtf_col_items
  %label
    = new_name.capitalize.pluralize + ":"
  %table{ :style => "width:52%;"}
    - @dmtf_col_items.map do |template|
      %tr
        %td
          %a{ :href => template["href"] }= template["name"]