- @title="#{@volume_image.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/volume_images"} VolumeImageCollection
      %span.divider="/"
    %li.active
      = @volume_image.name

- content_for :actions do
  %p
    %a{ :href => "#{@volume_image.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@volume_image.id}?format=json", :class => 'label warning' } JSON

%blockquote
  %p
    This entity represents the information necessary for hardware virtualized
    resources to create a Volume Instance

%dl
  %dt id
  %dd
    %a{ :href => @volume_image.id }=@volume_image.id
  %dt Description
  %dd=@volume_image.description
  %dt Created
  %dd=@volume_image.created
  %dt Bootable
  %dd=boolean_span_for @volume_image.bootable
  %dt Image Location
  %dd
    %a{:href => "/cimi/volumes/#{href_to_id(@volume_image.image_location.href)}"}=href_to_id @volume_image.image_location.href
  %dt Image Data
  %dd=boolean_span_for @volume_image.image_data
