- @title="#{@volume_image.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/volume_images"} VolumeImageCollection
      %span.divider="/"
    %li.active
      = @volume_image.name

- content_for :actions do
  %p
    %a{ :href => "#{@volume_image.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@volume_image.id}?format=json", :class => 'label warning' } JSON

- details do
  -row 'ID', @volume_image.id
  -row 'Description', @volume_image.description
  -row 'Created', @volume_image.created
  -row 'Bootable?', boolean_span_for(@volume_image.bootable)
  -row 'Image Location', url("/cimi/volumes/#{href_to_id(@volume_image.image_location.href)}")

