%h1
  = @storage_volume.id

%dl
  %di
    %dt Created
    %dd
      = @storage_volume.created
  %di
    %dt Capacity
    %dd
      = "#{@storage_volume.capacity} GB"
  %di
    %dt State
    %dd
      = @storage_volume.state
  %di
    %dt Attached
    %dd
      = link_to(@storage_volume.instance_id, instance_url( @storage_volume.instance_id)) + ' - ' + @storage_volume.device.to_s if @storage_volume.instance_id
