=header "Firewall"
=subheader @firewall.id

%div{ :'data-role' => :content, :'data-theme' => 'c'}
  %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'd'}
    %li{ :'data-role' => 'list-divider'} Identifier
    %li
      %p{ :'data-role' => 'fieldcontain'}=@firewall.id
    %li{ :'data-role' => 'list-divider'} Description
    %li
      %p{ :'data-role' => 'fieldcontain'}=@firewall.description
    %li{ :'data-role' => 'list-divider'} Owner
    %li
      %p{ :'data-role' => 'fieldcontain'}=@firewall.owner_id
    %li{ :'data-role' => 'list-divider'} Actions
    %li
      %div{ :'data-role' => 'controlgroup', :'data-type' => "horizontal" }
        =link_to_action "Destroy", destroy_firewall_url(@firewall.id), :delete

=header "Rules", :back => 'false' do
  %a{ :href => url_for("firewalls/#{@firewall.id}/new_rule"), :'data-icon' => :plus, :'data-role' => :button, :class => 'ui-btn-right', :'data-ajax' => 'false'} Add new rule

%div{ :'data-role' => :content, :'data-theme' => 'c'}
  - @firewall.rules.each do |rule|
    %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'd'}
      %li{ :'data-role' => 'list-divider'}
        %strong=rule.id
      %li
        %p{ :'data-role' => 'fieldcontain'}
          = rule.attributes.select{|attr| ![:sources, :id].include?(attr)}.collect { |a| "<strong>#{a}</strong>=#{rule.send(a)}" }.join(", ")
      %li{ :'data-role' => 'list-divider'} Sources
      - rule.sources.each do |source|
        %li
          %p{ :'data-role' => 'fieldcontain'}
            - if source[:type] == "group"
              type: #{source[:type]}, name: #{source[:name]}, owner: #{source[:owner]}
            - else
              type: #{source[:type]}, family: #{source[:family]}, address: #{source[:address]}, prefix: #{source[:prefix]}
      %li{ :'data-role' => 'list-divider'} Actions
      %li
        %div{ :'data-role' => 'controlgroup', :'data-type' => "horizontal" }
          =link_to_action "Delete", "#{firewall_url(@firewall.id)}/#{rule.id}", :delete
