- @title="#{@machine.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/machines"} MachineCollection
      %span.divider="/"
    %li.active
      = @machine.name

- content_for :actions do
  %p
    %a{ :href => "#{@machine.uri}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@machine.uri}?format=json", :class => 'label warning' } JSON
  %p
    - if @machine.state == 'STARTED'
      %form{ :action => "/cimi/machines/#{@machine.name}/stop", :method => :post, :style => 'display:inline'}
        %button{ :class => 'btn'} Stop
    - if @machine.state == 'STOPPED'
      %form{ :action => "/cimi/machines/#{@machine.name}/start", :method => :post, :style => 'display:inline'}
        %button{ :class => 'btn success'} Start
    %form{ :action => "/cimi/machines/#{@machine.name}/restart", :method => :post, :style => 'display:inline'}
      %button{ :class => 'btn info'} Restart
    %form{ :action => "/cimi/machines/#{@machine.name}/delete", :method => :post, :style => 'display:inline'}
      %input{ :type => :hidden, :name => '_method', :value => 'delete'}
      %button{ :class => 'btn danger'} Destroy


%blockquote
  %p
    This entity represents a
    Machine Instance

%dl
  %dt URI
  %dd
    %a{ :href => @machine.uri }=@machine.uri
  %dt Description
  %dd=@machine.description
  %dt Created
  %dd #{@machine.created}&nbsp;
  %dt State
  %dd=@machine.state

%h3 Network Interfaces

%table.bordered-table
  %thead
    %tr
      %th Address
      %th State
      %th Protocol
  %tbody
    - @machine.network_interfaces.each do |interface|
      %tr
        %td=interface.address || interface.hostname
        %td
          %span.label.success=interface.state
        %td=interface.protocol

%h3 Volumes

%table.bordered-table
  %thead
    %tr
      %th ID
      %th Attachment Point
      %th Protocol
  %tbody
    - @machine.volumes.each do |volume|
      %tr
        %td
          %a{:href => "/cimi/volumes/#{href_to_id(volume.href)}" }=href_to_id(volume.href)
        %td=volume.attachment_point
        %td=volume.protocol
