- @title="#{@machine.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/machines"} MachineCollection
      %span.divider="/"
    %li.active
      = @machine.name

- content_for :actions do
  %p
    %a{ :href => "#{@machine.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@machine.id}?format=json", :class => 'label warning' } JSON
  %p
    - if @machine.state == 'STARTED'
      %form{ :action => "/cimi/machines/#{@machine.name}/stop", :method => :post, :style => 'display:inline'}
        %button{ :class => 'btn'} Stop
    - if @machine.state == 'STOPPED'
      %form{ :action => "/cimi/machines/#{@machine.name}/start", :method => :post, :style => 'display:inline'}
        %button{ :class => 'btn success'} Start
    %form{ :action => "/cimi/machines/#{@machine.name}/restart", :method => :post, :style => 'display:inline'}
      %button{ :class => 'btn info'} Restart
    %form{ :action => "/cimi/machines/#{@machine.name}/delete", :method => :post, :style => 'display:inline'}
      %input{ :type => :hidden, :name => '_method', :value => 'delete'}
      %button{ :class => 'btn danger'} Destroy

-details 'Machine details' do
  -row 'ID', @machine.id
  -row 'Description',@machine.description
  -row 'Created', @machine.created
  -row 'State',state_span_for(@machine.state)
  -row 'CPU', boolean_span_for(@machine.cpu)
  -row 'RAM', @machine.memory
  -row 'Meters', (@machine.meters.empty? ? "No meters" : ( @machine.meters.each{|meter| meters.id}))
  -row 'Network Interfaces', @machine.network_interfaces.href
  -row 'Volumes', @machine.volumes.machine_volumes.first['href']
  -row 'Disks', @machine.disks.disks.first['href']


%h3 Properties
%table{ :class => 'table table-bordered table-striped' }
  %thead
    %tr
      %th Name
      %th Value
  %tbody
    - @machine.property.each do |name, value|
      %tr
        %td=name
        %td=convert_urls value

