- @title="#{@machine.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/machines"} MachineCollection
      %span.divider="/"
    %li.active
      = @machine.name

- content_for :actions do
  %p
    %a{ :href => "#{@machine.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@machine.id}?format=json", :class => 'label warning' } JSON
  %p
    - if @machine.state == 'STARTED'
      %form{ :action => "/cimi/machines/#{@machine.name}/stop", :method => :post, :style => 'display:inline'}
        %button{ :class => 'btn'} Stop
    - if @machine.state == 'STOPPED'
      %form{ :action => "/cimi/machines/#{@machine.name}/start", :method => :post, :style => 'display:inline'}
        %button{ :class => 'btn success'} Start
    %form{ :action => "/cimi/machines/#{@machine.name}/restart", :method => :post, :style => 'display:inline'}
      %button{ :class => 'btn info'} Restart
    %form{ :action => "/cimi/machines/#{@machine.name}/delete", :method => :post, :style => 'display:inline'}
      %input{ :type => :hidden, :name => '_method', :value => 'delete'}
      %button{ :class => 'btn danger'} Destroy

%h3 Details

%table{ :class => 'table table-bordered table-striped' }
  %tbody
    %tr
      %th ID
      %td
        %a{ :href => @machine.id }=@machine.id
    %tr
      %th Description
      %td=@machine.description
    %tr
      %th Created
      %td #{@machine.created}&nbsp;
    %tr
      %th State
      %td=state_span_for @machine.state
    %tr
      %th CPU
      %td=boolean_span_for @machine.cpu
    %tr
      %th RAM
      %td
        - if @machine.memory.quantity.nil?
          %span.label Not specified
        - else
          =[@machine.memory.quantity, @machine.memory.units].join("&nbsp;")
    %tr
      %th Meters
      %td
        - if @machine.meters.empty?
          %span.label No meters
        - else
          - @machine.meters.each do |meters|
            %dd=meters.ref


%h3 Properties
%table{ :class => 'table table-bordered table-striped' }
  %thead
    %tr
      %th Name
      %th Value
  %tbody
    - @machine.property.each do |property|
      %tr
        %td=property.name
        %td=convert_urls property.value

%h3 Network Interfaces

%table{ :class => 'table table-bordered table-striped' }
  %thead
    %tr
      %th Address
      %th State
      %th Protocol
  %tbody
    - @machine.network_interfaces.each do |interface|
      %tr
        %td=interface.address || interface.hostname
        %td
          %span.label.success=interface.state
        %td=interface.protocol
    - if @machine.network_interfaces.empty?
      %tr
        %td{ :colspan => 3 }
          %strong
            There are no network interfaces defined for this Machine.

%h3 Volumes

%table{ :class => 'table table-bordered table-striped' }
  %thead
    %tr
      %th ID
      %th Attachment Point
      %th Protocol
  %tbody
    - @machine.volumes.each do |volume|
      %tr
        %td
          %a{:href => "/cimi/volumes/#{href_to_id(volume.href)}" }=href_to_id(volume.href)
        %td=volume.attachment_point
        %td=volume.protocol
    - if @machine.volumes.empty?
      %tr
        %td{ :colspan => 3 }
          %strong
            There are no Volume entities defined for this Machine.


%h3 Disks

%table{ :class => 'table table-bordered table-striped' }
  %thead
    %tr
      %th Capacity
      %th Format
      %th Attachment point
  %tbody
    - @machine.disks.each do |disk|
      %tr
        %td=[boolean_span_for(disk.capacity.quantity), disk.capacity.units].join("&nbsp;")
        %td=boolean_span_for disk.format
        %td=boolean_span_for disk.attachment_point
    - if @machine.disks.empty?
      %tr
        %td{ :colspan => 3 }
          %strong
            There are no disks defined for this Machine.
