!!!
!!! XML

%html
  %head
    = stylesheet_link_tag '/stylesheets/compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag '/stylesheets/compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag '/stylesheets/compiled/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag '/stylesheets/compiled/application.css', :media => 'screen, projection'
    %script{:type => "text/javascript", :src => "/javascripts/jquery-1.4.2.min.js" }
    %script{:type => "text/javascript", :src => "/javascripts/application.js" }
  %body
    #wrapper
      #header
        = link_to image_tag( "/images/logo-wide.png" ), settings.root_url
      = bread_crumb
      #content{:class => :error}
        = yield
      #footer
        #formats
          Format:
          =link_to_format(:xml)
          |
          =link_to_format(:json)
        #driver_info
          Driver: #{driver_symbol} | API version: #{settings.version}
        #copyright
          Copyright 2009-2011
          %a{:href => 'http://incubator.apache.org/deltacloud/'} The Apache Software Foundation
          and individual contributors.
