%h1 Instance Credentials

%table.display
  %thead
    %tr
      %th ID
      %th Credentials details
      %th Actions
  %tbody
    - @elements.each do |instance_credential|
      %tr
        %td
          = link_to instance_credential.id, instance_credential_url( instance_credential.id )
        %td
          - if instance_credential.credential_type.eql?(:key)
            = instance_credential.fingerprint
          - if instance_credential.credential_type.eql?(:password)
            = "#{instance_credential.username} - #{instance_credential.password}"
        %td
          - if driver.respond_to?(:destroy_instance_credential)
            =link_to 'Destroy', destroy_instance_credential_url(instance_credential.id), :class => 'delete'
  %tfoot
    - if driver.respond_to?(:create_instance_credential)
      %tr
        %td{:colspan => 3, :style => "text-align:right;"}
          =link_to 'Create &raquo;', "#{url_for('/api/instance_credentials/new')}", :class => 'button'
