%h1
  = @instance_credential.id

%dl
  - if @instance_credential.credential_type.eql?(:key)
    %di
      %dt Fingerprint
      %dd
        = @instance_credential.fingerprint
      - if @instance_credential.pem_rsa_key
        %dt PEM key
        %dd
          %pre
            = @instance_credential.pem_rsa_key
  - if @instance_credential.credential_type.eql?(:password)
    %di
      %dt Username
      %dd
        = @instance_credential.username
      %dt Password
      %dd
        = @instance_credential.password
