%h1
  = @profile.name

%dl
  %di
    %dt
      Architecture
    %dd
      = @profile.architecture
  %di
    %dt
      Memory
    %dd
      = format_hardware_aspect @profile.memory
  %di
    %dt
      Storage
    %dd
      = format_hardware_aspect @profile.storage
  %di
    %dt
      Mutable
    %dd
      = @profile.mutable?
