=header "Hardware profiles"
=subheader "#{driver_symbol}@#{Thread::current[:provider] || ENV['API_PROVIDER'] || 'default'}"

%div{ :'data-role' => :content, :'data-theme' => 'c'}
  %ul{ :'data-role' => :listview, :'data-inset' => :true }
    - for profile in @hardware_profiles
      %li{ :'data-theme' => 'c'}
        %a{ :href => hardware_profile_url(profile.name)}
          %img{ :class => 'ui-link-thumb', :src => '/images/profile.png'}
          %h3= profile.name
          %p
            %strong Architecture:
            = format_hardware_property profile.architecture
            %strong Memory:
            = format_hardware_property profile.memory
            %strong Storage:
            = format_hardware_property profile.storage
            %strong CPU:
            = format_hardware_property profile.cpu
