%h1
  Hardware Profiles

%table.display
  %thead
    %tr
      %th
        Name
      %th
        Architecture
      %th
        Memory
      %th
        Storage
      %th
        Mutable
  %tbody
    - for profile in @profiles
      %tr
        %td
          = link_to profile.name, hardware_profile_url( profile.name )
        %td
          = format_hardware_property profile.architecture
        %td
          = format_hardware_property profile.memory
        %td
          = format_hardware_property profile.storage
        %td
          = profile.mutable?
