%docs{:status => "unsupported"}
  %collection{:url => url_for("/api/docs/#{@collection.name}"), :name => "#{@collection.name}"}
    %description #{@collection.description}
    %operations
      - @operations.keys.sort_by { |k| k.to_s }.each do |operation|
        %operation{:url => url_for("/api/#{@collection.name.to_s}"), :name => "#{operation}", :href => url_for("#{@operations[operation].path}"), :method => "#{@operations[operation].method}"}
          %description #{@operations[operation].description}
          - @operations[operation].each_param do |param|
            %parameter{:name => "#{param.name}", :type => "#{param.type}"}
              %class #{param.klass}
              - unless param.options.empty?
                %values
                  - param.options.each do |v|
                    %value #{v}
