%h2
  = action_method(@operation.name, @collection.name).to_s.upcase
  = action_url

%p
  #{@operation.description}

%br

%h2 Parameters:


%table
  %thead
    %tr
      %th Name
      %th Type
      %th Class
      %th Valid values
      %th Description
  %tbody
    - @operation.each_param do |p|
      %tr
        %td{:style => "width:15em"}
          %em #{p.name}
        %td{:style => "width:10em"} #{p.type}
        %td #{p.klass}
        %td{:style => "width:10em"} #{p.options.join(',')}
        %td #{p.description}
