%docs{:status => "unsupported"}
  %operation{:url => url_for("docs/#{@collection.name.to_s}"), :name => "#{@operation.name.to_s}", :href => url_for("#{@operation.path}"), :method => "#{@operation.method}"}
    %description #{@operation.description}
    - @operation.each_param do |param|
      %parameter{:name => "#{param.name}", :type => "#{param.type}"}
        %class #{param.klass}
        - unless param.options.empty?
          %values
            - param.options.each do |v|
              %value #{v}
