%div{ :'data-role' => :content, :'data-theme' => 'b'}
  %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'e'}
    %li{ :'data-role' => 'list-divider'} Server message
    %li
      %h3= h [@error.class.name, @error.message].join(' - ')
    %li{ :'data-role' => 'list-divider'} Original request URI
    %li
      %a{ :href => request.env['REQUEST_URI'], :'data-ajax' => 'false'}
        %span=request.env['REQUEST_URI']
        %span{ :class => 'ui-li-count'} Retry
    %li{ :'data-role' => 'list-divider'} Error details
    %li
      - if @error.class.method_defined? :details
        %p= h @error.details
      - else
        %em No details
    %li{ :'data-role' => 'list-divider'} Backtrace
    %li
      %pre= bt @error.backtrace

  %div{ 'data-role' => :collapsible, 'data-collapsed' => "true"}
    %h3 Backtrace
    %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'e'}
      %li
        %pre= h @error.backtrace.join("\n")

  %div{ 'data-role' => :collapsible, 'data-collapsed' => "true"}
    %h3 Parameters
    %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'e'}
      - if params.keys.empty?
        %li{ :'data-role' => 'list-divider'} No parameters
      - params.each do |key, value|
        - next if value.inspect.to_s == '#'
        %li{ :'data-role' => 'list-divider'}=key
        %li
          %span{:style => 'font-weight:normal;'}=value.inspect


  %div{ 'data-role' => :collapsible, 'data-collapsed' => "true"}
    %h3 Request details
    %ul{ :'data-role' => :listview , :'data-inset' => :true, :'data-divider-theme' => 'e'}
      - request.env.each do |key, value|
        - next if value.inspect.to_s == '#'
        %li{ :'data-role' => 'list-divider'}=key
        %li
          %span{:style => 'font-weight:normal;'}= h value.inspect
