%error{:url => "#{request.env['REQUEST_URI']}", :status => "#{response.status}"}
  %kind backend_error
  %backend{ :driver => driver_symbol }
    %code=response.status
    %cause= @cause
    - if @error.class.method_defined? :details
      %details< #{cdata @error.details.join("\n")}
  %message< #{cdata @error.message}
