%h1 Image
%h2
  = @image.id

%dl
  %di
    %dt Name
    %dd
      = @image.name
    %dt Owner
    %dd
      = link_to @image.owner_id, image_url( :owner_id => @image.owner_id )
    %dt Architecture
    %dd
      = @image.architecture
    %dt Description
    %dd
      = @image.description
    %dt
    %dd
      = link_to 'Launch', "/api/instances/new?image_id=#{@image.id}"
