- @title="#{@network_template.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/network_templates"} NetworkTemplateCollection
      %span.divider="/"
    %li.active
      = @network_template.name

- content_for :actions do
  %p
    %a{ :href => "#{@network_template.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@network_template.id}?format=json", :class => 'label warning' } JSON

-details do
  -row 'ID', @network_template.id
  -row 'Name',@network_template.name
  -row 'Description',@network_template.description
  -row 'Created',@network_template.created
  -row 'Network Config', url("/cimi/network_config/#{href_to_id @network_template.network_config.href}")
  -row 'Forwarding Group', url("/cimi/forwarding_groups/#{href_to_id @network_template.forwarding_group.href}")
