<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
    <title>DeltaCloud Framework</title>
    <%= stylesheet_link_tag '/yui/reset-fonts-grids/reset-fonts-grids.css' %>
    <%= stylesheet_link_tag 'application.css' %>
  </head>

  <body>
    <div id="doc" class="yui-t2">
      <div id="hd">
      <%= bread_crumb -%>
      </div>
      <div id="bd">
        <div id="yui-main">
          <div id="content">
            <%= yield %>
          </div>
        </div>
      </div>
      <div id="ft">
        <div style="float: right; text-align: right; font-size: 90%;">
          DeltaCloud Driver: <%= DRIVER %><br/>
          Copyright 2009 <%= link_to 'Red Hat', 'http://redhat.com' %> <br />
        </div>
      </div>
    </div>
  </body>
</html>
