- @title="#{@cred.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/credentials"} CredentialCollection
      %span.divider="/"
    %li.active
      = @cred.name

- content_for :actions do
  %p
    %a{ :href => "#{@cred.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@cred.id}?format=json", :class => 'label warning' } JSON
  %p
    %form{ :action => "/cimi/credentials/#{@cred.name}/delete", :method => :post, :style => 'display:inline'}
      %input{ :type => :hidden, :name => '_method', :value => 'delete'}
      %button{ :class => 'btn btn-danger'} Destroy

%blockquote
  %p
    A Credential entity contains the information required to create the
    initial administrative super-user of a newly created Machine

- details 'Credential Details' do
  - row 'ID', @cred.id
  - row 'Description', @cred.description
  - row 'Created', @cred.created
  - row 'Username', boolean_span_for(@cred.username)
  - row 'Password', boolean_span_for(@cred.password)
  - row 'Key', '<pre>'+boolean_span_for(@cred.key)+'</pre>'

