<h1>Instances</h1>

<table>
  <tr>
    <th>
      ID
    </th>
    <th>
      Owner
    </th>
    <th>
      Image
    </th>
    <th>
      State
    </th>
    <th>
      Actions
    </th>
  </tr>
  <% for instance in @instances %>
    <tr>
      <td>
        <%= link_to instance.id, instance %>
      </td>
      <td>
        <%= link_to instance.owner.id, instance.owner %>
      </td>
      <td>
        <%= link_to instance.image.id, instance.image %>
      </td>
      <td>
        <%= instance.state %>
      </td>
      <td>
        <% instance.class.actions.each do |action| %>
          <%= link_to action, polymorphic_url( instance, :action=>action ), :method=>:post %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
