<h1>Instances</h1>

<table>
  <tr>
    <th>
      ID
    </th>
    <th>
      Owner
    </th>
    <th>
      Name
    </th>
    <th>
      Image
    </th>
    <th>
      Flavor
    </th>
    <th>
      Realm
    </th>
    <th>
      State
    </th>
    <th>
      Actions
    </th>
  </tr>
  <% for instance in @instances %>
    <tr>
      <td>
        <%= link_to instance.id, instance_url( instance.id ) %>
      </td>
      <td>
        <%= link_to instance.owner_id, images_url( :owner=>instance.owner_id ) %>
      </td>
      <td>
        <%= instance.name %>
      </td>
      <td>
        <%= link_to instance.image_id, image_url( instance.image_id ) %>
      </td>
      <td>
        <% if ( instance.flavor_id ) %>
          <%= link_to instance.flavor_id, flavor_url( instance.flavor_id ) %>
        <% else %>
          default
        <% end %>
      </td>
      <td>
        <% if ( instance.realm_id ) %>
          <%= link_to instance.realm_id, realm_url( instance.realm_id ) %>
        <% else %>
          default
        <% end %>
      </td>
      <td>
        <%= instance.state %>
      </td>
      <td>
        <% instance.actions.each do |action| %>
          <%= link_to action, self.send( "#{action}_instance_url", instance.id ), :method=>:post %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
