
<h1><%= @instance.id %></h1>

<dl>
  <di>
    <dt>
      Image
    </dt>
    <dd>
      <%= link_to @instance.image_id, image_url( @instance.image_id ) %>
    </dd>
  </di>
  <di>
    <dt>
      Owner
    </dt>
    <dd>
      <%= @instance.owner_id %>
    </dd>
  </di>
  <di>
    <dt>
      Flavor
    </dt>
    <dd>
      <%= link_to @instance.flavor_id, flavor_url( @instance.flavor_id ) %>
    </dd>
  </di>
  <di>
    <dt>
      State
    </dt>
    <dd>
      <%= @instance.state %>
    </dd>
  </di>
  <di>
    <dt>
      Public Addresses
    </dt>
    <dd>
      <% for address in  @instance.public_addresses %>
        <div><%= address %></div>
      <% end %>
    </dd>
  </di>
  <di>
    <dt>
      Private Addresses
    </dt>
    <dd>
      <% for address in  @instance.private_addresses %>
        <div><%= address %></div>
      <% end %>
    </dd>
  </di>
</dl>

<div>
  <% @instance.actions.each do |action| %>
    <%= link_to action, send( "#{action}_instance_url", @instance.id ), :method=>:post %>
  <% end %>
  <%= link_to 'delete', instance_url( @instance.id ), :method=>:delete %>
</div>
