%h1
  API v#{settings.version}

%ul
  - collections.keys.sort_by { |k| k.to_s }.each do |key|
    %li
      = link_to key.to_s.gsub('_', ' ').titlecase, url_for("/api/#{key}")
      %dl
        - collections[key].operations.each_key do |op|
          - next if [:index, :show].include?(op)
          %dt
            = op
  %li
    %strong
      %a{:href => url_for("/api/docs")} Documentation (#{settings.version})
