- @title="#{@network.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/networks"} NetworkCollection
      %span.divider="/"
    %li.active
      = @network.name

- content_for :actions do
  %p
    %a{ :href => "#{@network.id}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@network.id}?format=json", :class => 'label warning' } JSON

-details 'Network details' do
  -row 'ID', @network.id
  -row 'Name', @network.name
  -row 'Description', @network.description
  -row 'Created', @network.created
  -row 'State', @network.state
  -row 'Type', @network.network_type
  -row 'MTU', @network.mtu
  -row 'Service Class', @network.class_of_service
  -row 'Forwarding Group', url("/cimi/forwarding_groups/#{href_to_id @network.forwarding_group.href}")
