- @title="#{@machine_admin.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/machine_admins"} MachineAdminCollection
      %span.divider="/"
    %li.active
      = @machine_admin.name

- content_for :actions do
  %p
    %a{ :href => "#{@machine_admin.uri}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@machine_admin.uri}?format=json", :class => 'label warning' } JSON
  %p
    %form{ :action => "/cimi/machine_admins/#{@machine_admin.name}/delete", :method => :post, :style => 'display:inline'}
      %input{ :type => :hidden, :name => '_method', :value => 'delete'}
      %button{ :class => 'btn btn-danger'} Destroy

%blockquote
  %p
    A Machine Admin entity contains the information required to create the
    initial administrative super- user of a newly created Machine

- details 'MachineAdmin Details' do
  - row 'URI', @machine_admin.uri
  - row 'Description', @machine_admin.description
  - row 'Created', @machine_admin.created
  - row 'Username', boolean_span_for(@machine_admin.username)
  - row 'Password', boolean_span_for(@machine_admin.password)
  - row 'Key', '<pre>'+boolean_span_for(@machine_admin.key)+'</pre>'

