- @title="#{@machine_admin.name}"

- content_for :breadcrumb do
  %ul.breadcrumb
    %li
      %a{ :href => "/cimi/cloudEntryPoint"} CloudEntryPoint
      %span.divider="/"
    %li
      %a{ :href => "/cimi/machine_admins"} MachineAdminCollection
      %span.divider="/"
    %li.active
      = @machine_admin.name

- content_for :actions do
  %p
    %a{ :href => "#{@machine_admin.uri}?format=xml", :class => 'label warning' } XML
    %a{ :href => "#{@machine_admin.uri}?format=json", :class => 'label warning' } JSON
  %p
    %form{ :action => "/cimi/machine_admins/#{@machine_admin.name}/delete", :method => :post, :style => 'display:inline'}
      %input{ :type => :hidden, :name => '_method', :value => 'delete'}
      %button{ :class => 'btn danger'} Destroy

%blockquote
  %p
    A Machine Admin entity contains the information required to create the
    initial administrative super- user of a newly created Machine

%dl
  %dt URI
  %dd
    %a{ :href => @machine_admin.uri }=@machine_admin.uri
  %dt Description
  %dd=@machine_admin.description
  %dt Created
  %dd=@machine_admin.created
  %dt Username
  %dd=boolean_span_for @machine_admin.username
  %dt Password
  %dd=boolean_span_for @machine_admin.password
  %dt Key
  %dd
    %pre=boolean_span_for @machine_admin.key
