%h1 Instances

%table.display
  %thead
    %tr
      %th ID
      %th Owner
      %th Name
      %th Image
      %th Realm
      %th State
      %th Actions
  %tbody
    - @instances.each do |instance|
      %tr
        %td
          = link_to instance.id, instance_url( instance.id )
        %td
          = link_to instance.owner_id, images_url( instance.owner_id )
        %td
          = instance.name
        %td
          = link_to instance.image_id, image_url( instance.image_id )
        %td
          = instance.realm_id ? link_to(instance.realm_id, realm_url( instance.realm_id )) : 'default'
        %td
          = instance.state
        %td
          -instance.actions.each do |action|
            =link_to action, self.send(:"#{action}_instance_url", instance.id), :class => instance_action_method(action)
