%h1 New Instance

%h2= @image.id
%h3= @image.description

%form{ :action => instances_url, :method => :post }
  %input{ :name => :image_id, :type => :hidden, :value => @instance.image_id }/
  %p
    %label
      Instance Name:
      %input{ :name => 'name', :size => 30 }/
  -if driver_has_feature?(:register_to_load_balancer)
    %p
      %label
        Assign to load balancer:
        %select{:name => 'load_balancer_id'}
          %option{:value => ""}
          - @load_balancers.each do |load_balancer|
            %option{:value => load_balancer.id} #{load_balancer.id}
  -if driver_has_feature?(:authentication_key)
    %p
      %label
        Instance Keyname:
        %input{:name => 'keyname', :size => 30 }
  - if !@hardware_profiles.empty?
    %h3 What size machine?
    - for hwp in @hardware_profiles
      .radio-group
        %label{ :for => "hwp_id_#{hwp.name}" }
          %input{ :type => :radio, :name => 'hwp_id', :value => hwp.name }/
          = hwp.name
          %br/
          %span.radio-group-details
            - first = true
            - hwp.properties.select { |prop| prop.fixed? }.each do |prop|
              - unless first
                ,
              - first = false
              = format_hardware_property prop
          - hwp.properties.reject { |prop| prop.fixed? }.each do |prop|
            %span.radio-group-details
              %label{ :for => "#{prop.param}_#{hwp.name}" }
                = prop.name
              - if prop.kind == :enum
                %select{ :size => 1, :name => prop.param }
                  - for v in prop.values
                    %option= v
                = prop.unit
              - else
                %input{ :name => prop.param, :size => 10, :value => "#{prop.default}" }
                = prop.unit
                (value must be between #{prop.first} #{prop.unit} and #{prop.last} #{prop.unit})
  - if !@realms.empty?
    %h3 Where do you want it?
    - for realm in @realms
      .radio-group
        %label{ :for => "realm_id_#{realm.id}" }
          %input{ :type => :radio, :name => 'realm_id', :value => realm.id }/
          = realm.id
          %br/
          %span.radio-group-details
            = "#{realm.name}, #{realm.limit}"
  %input{ :type => :submit, :name => "commit", :value => "create" }/
