%h1
  = @flavor.id

%dl
  %di
    %dt Architecture
    %dd
      = @flavor.architecture
  %di
    %dt Memory
    %dd
      = "#{@flavor.memory} GB"
  %di
    %dt Storage
    %dd
      = "#{@flavor.storage} GB"
