
<h1>Instance States</h1>

<div id="state_graph">
  <%= image_tag url_for( :format=>:png ) %>
</div>

<table class="states">
  <tr>
    <th>
      Origin
    </th>
    <th>
      Action
    </th>
    <th>
      Destination
    </th>
  </tr>
  <% @machine.states.each do |state| %>
    <tr>
      <td rowspan="<%= state.transitions.empty? ? 2 : state.transitions.size + 1 %>" class="origin">
        <%= state %>
      </td>
    </tr>
    <% if ( state.transitions.empty? ) %>
      <tr> 
        <td>
          --
        </td>
        <td>
          --
        </td>
      </tr> 
    <% else %>
      <% state.transitions.each do |transition| %>
        <tr>
          <td>
            <% if ( transition.automatically? ) %>
              <em>auto</em>
            <% else %>
              <%= transition.action %>
            <% end %>
          </td>
          <td>
            <%= transition.destination %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>

